<div class="header-wrapper">
  <header class="site-header">
    <div class="header-name">
      <h2><a href="/">Joe McIlhargey</a></h2>
      <small>Full Stack Developer</small>
    </div>
    <nav class="header-nav">
      <ul class="nav-pages">
        <li><a href="/">Projects</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav-socials">
        <li>
          <a class="socials-github" href="https://github.com/jmcilhargey">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#svg-github"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="socials-linkedin" href="https://www.linkedin.com/in/joemcilhargey">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#svg-linkedin"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="socials-freecodecamp" href="http://www.freecodecamp.com/jmcilhargey">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#svg-freecodecamp"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button class="nav-menu" onclick="toggleDrawerMenu(this)">
      <svg viewBox="0 0 18 15">
        <use xlink:href="#svg-menu" />
      </svg>
    </button>
  </header>
</div>
  